body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    margin: 0;
    padding: 20px;
}
.quiz-container{
    background-color: rgb(78, 78, 201);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px black;
    max-width: 500px;
    margin: auto;
}
h1{
    text-align: center;
}
.question{
    margin-bottom: 10px;
}
.options{
    margin-left: 20px;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #218838;
}
#result{
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

/*"Hypertext Markup Language",  
        "script",  
        "alert(HELLO WORLD!)",  
        "function myFunction()",  
        "if (i==5)", 
        "var colors = ['red', 'green', 'blue']",  
        "onclick"  
